@font-face {
  font-family: baby;
  src: url('./MADE\ Bon\ Voyage\ Thin\ PERSONAL\ USE.otf');
}
@font-face{
  font-family:raju;
  src:url('./STRRETCH\ SANS.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  cursor: none;
  padding: 0.1px;
}
#main{
  width: 100%;
  background-color: black;
}
.page1 {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  position: relative;
  /* overflow: hidden; */
}

#heading{
  width: 100%;
  height: fit-content;
  padding: 3px 0px 3px 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: #9e9e9e;
  position: absolute;
  bottom: 0;
}
#heading2{
  width: 100%;
  height: fit-content;
  padding: 3px 0px 3px 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: #9e9e9e;

}
#heading h1{

  display: inline-block;
  font-size: 2vw;
  font-family: raju;
  font-weight: 400;
  animation-name: ltor;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
.page2 #heading2 h1{

  display: inline-block;
  font-size: 2vw;
  font-family: raju;
  font-weight: 400;
  animation-name: ltor;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#dust {
  width: 150%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0%;
  mix-blend-mode: luminosity;


}

.nav {
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.links {
  display: flex;
  gap: 25px;
}
.links a{
  font-size: 14px;
  font-weight: 600;
  
  font-family: baby;
  /* text-transform: uppercase; */

}

#canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#canvas-container canvas {
  width: 90%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#canvas-container canvas img {
  width: 100%;
  height: 100%;
  margin-left: 200px;
  object-fit: cover;
}

.mainhead {
  width: 75%;
  color: rgba(82, 82, 82, 0.019);
  font-size: 5.5vw;
  line-height: 5vw;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-text-stroke:  1px rgb(244, 244, 244);
  font-family: raju;
  mix-blend-mode: difference;
}
.strech{
  font-feature-settings: "liga";
}
.slider::-webkit-scrollbar {
  display: none;
}


.discritop p{
  padding-top: 20px;
  color: whitesmoke;
}

.discritop{
  width: 25%;
}
.page1-bottom {
  position: absolute;
  display: flex;
  bottom: 100px;
  padding: 0px 50px;
  gap: 20px;

  align-items: end;
}
.button{
  display: flex;
  gap: 10px;
  margin-top: 20px;

}
.button h1{
  color: white;
  border: white 1px solid;
  padding: 5px 20px;
  border-radius: 20px;
  width: fit-content;
} 
@keyframes ltor {
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);

  }
}

/* 

*/


:root{
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

.page2{
  background:#161616;
  width: 100%;
  height: 100vh;
  position: relative;
  
}
#dust2{
  width: 150%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  /* opacity: 200%; */
  rotate: 180deg;
  mix-blend-mode: luminosity;
}
.page2-overlay{
  width: 100%;
  top: 0;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.items{
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 32);
}

.item{
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 16);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}
.page2-overlay h1{
  margin-left: 50px; 
  font-size: 2vw;
  font-weight: 600;
  font-family: raju;
  margin-top: 50px;
  color: white;
  /* -webkit-text-stroke: .5px white; */
  text-transform: uppercase;
}
